<!-- header start -->
<header id="header-type" class="header-type">
	<div class="mobile-fix-option"></div>
	<div class="top-header">
		<div class="container">
			<app-topbar></app-topbar>
		</div>
	</div>
	<div class="container logo-menu-part">
		<div class="row">
			<div class="col-sm-12">
				<div class="main-menu">					
					<div class="menu-right pull-right">
						<div>
							<app-navbar></app-navbar>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
<!-- header end -->
