<section class="p-0"></section>
<!-- footer section start -->
<footer class="sticky-footer" id="footerReveal">
    <section class="section-b-space darken-layout">
        <div class="container">
            <div class="row footer-theme partition-f">
                <div class="col-lg-4 col-md-6">
                    <div class="footer-title footer-mobile-title">
                        <h4>about</h4>
                    </div>
                    <div class="footer-contant">
                        <div class="footer-logo">
                            <img src="assets/images/icon/layout4/footerlogo.png" alt="">
                        </div>
                        <div>App inf</div>
                        <div>App social</div>
                    </div>
                </div>
                <div class="col offset-xl-1 ">
                    <div class="sub-title">
                        <div>app-categories</div>
                    </div>
                </div>
                <div class="col">
                    <div class="sub-title">
                        <div>app-why-we-choose</div>
                    </div>
                </div>
                <div class="col">
                    <div class="sub-title">
                        <div class="footer-title">
                            <h4>store information</h4>
                        </div>
                        <div class="footer-contant">
                            <ul class="contact-list">
                                <li><i class="fa fa-map-marker"></i>Multikart Demo Store, Demo store
                                    India 345-659</li>
                                <li><i class="fa fa-phone"></i>Call Us: 123-456-7898</li>
                                <li><i class="fa fa-envelope-o"></i>Email Us: <a href="#">Support@Fiot.com</a></li>
                                <li><i class="fa fa-fax"></i>Fax: 123456</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="sub-footer dark-subfooter">
        <div class="container">
            <div>app-copyright</div>
        </div>
    </div>
</footer>
<!-- footer section end -->
 <!-- Rtl start -->
<div class="rtl-btn" id="">
    <a href="javascript:void(0)" class="RTL_cls">
        RTL
    </a>
</div>
<!-- rtl end -->