@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  margin: 0;
  font-family: sans-serif;
}

h1 {
  text-align: center;
}